version: "3.2"
services:
  nats-js:
    image: nats:alpine
    ports:
      - "4222:4222"
    command: --jetstream
  nats-tools:
    image: natsio/nats-box:latest
    volumes:
      - ./nats.sh:/tmp/nats.sh
    command:
      - /tmp/nats.sh
    depends_on:
      - nats-js
  hl7-listener:
    image: qcc-gateway-hl7-listener:1.0.0
    environment:
      - HL7_MLLP_HOST=hl7-listener
      - HL7_MLLP_PORT=2575
      - OUTBOUND_QUEUE_TYPE
      - OUTBOUND_QUEUE_NAME
      - MSG_NAMESPACE
      - NATS_OUTGOING_SUBJECT=hl7.queue
      - NATS_SERVER_URL=nats-js:4222
    ports:
      - "2575:2575"
